
  <h1>Listado de alumnos</h1>

  <div class="col-md-1">
    <select class="form-select" id="tipoAlumnosSelect" (change)="onTipoAlumnosSelectChange($event)">
      <option value="Todos">Todos</option>
      <option value="Regular">Regular</option>
      <option value="Irregular">Irregular</option>
      <option value="Baja">Baja</option>
    </select>
  </div>

  <br>

  @if (mostrarListadoTodos) {
    <div class="col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          @for (studentTodos of studentsTodos; track $index) {
          <tr [ngClass]="studentTodos.Promedio > 6 ? 'table-success' : 'table-danger'">
            <th scope="row">{{$index + 1}}</th>
            <td>{{studentTodos.Nombre}} {{studentTodos.Apellido}}</td>
            <td>{{studentTodos.Promedio}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (mostarListadoRegulares) {
    <div class="col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          @for (studentRegular of studentsRegular; track $index) {
          <tr [ngClass]="studentRegular.Promedio > 6 ? 'table-success' : 'table-danger'">
            <th scope="row">{{$index + 1}}</th>
            <td>{{studentRegular.Nombre}} {{studentRegular.Apellido}}</td>
            <td>{{studentRegular.Promedio}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (mostarListadoIrregulares) {
    <div class="col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          @for (studentIrregular of studentsIrregular; track $index) {
            <tr [ngClass]="studentIrregular.Promedio > 6 ? 'table-success' : 'table-danger'">
              <th scope="row">{{$index + 1}}</th>
              <td>{{studentIrregular.Nombre}} {{studentIrregular.Apellido}}</td>
              <td>{{studentIrregular.Promedio}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (mostarListadoBaja) {
    <div class="col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          @for (studentBaja of studentsBaja; track $index) {
            <tr [ngClass]="studentBaja.Promedio > 6 ? 'table-success' : 'table-danger'">
              <th scope="row">{{$index + 1}}</th>
              <td>{{studentBaja.Nombre}} {{studentBaja.Apellido}}</td>
              <td>{{studentBaja.Promedio}}</td>
            </tr>          
          }
        </tbody>
      </table>
    </div>
  }